// ------------- Lehenga Saga Section Reusable SCSS Starts ------------

@import '../../../styles/abstracts/common';
@import '../../../styles/abstracts/variables';


.lehenga-saga img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Lehenga-saga-sub {
  position: relative;
  text-align: center;
}

.Lehenga-saga-main {
  @extend .Lehenga-saga-sub;
}

.Lehenga-saga-subtext,
.Lehenga-saga-maintext {
  position: absolute;
  bottom: 30px !important;
  left: 50% !important;
  translate: -50%;
}

@media (max-width: 768px) {
  .available-services img {
    width: 45px;
    height: 45px;

    @media (min-width: 768px) {
      width: 50px;
      height: 50px;
    }
  } 
}

@media (max-width: 520px) {
  .available-services img {
    width: 35px;
    height: 35px;
  } 
}

/* Quick-zoom Container */
.lehenga-saga img {
  transition: 0.4s;
}

.zoom-effect {
  overflow: hidden !important;
}

.lehenga-saga img:hover {
  transform: scale(1.2) !important;
}

// ------------- Lehenga Saga Section Reusable SCSS Ends ------------