@import '../../../styles/abstracts/variables';


#product-category-mobile-section {
     #product-category-btns {

          .active,
          .button-light:hover {
               background-color: $primary-500;
               color: #ffffff;
          }
     }

     .product-catogery-mobile .item .col img {
          width: 85%;
          height: 100%;
          margin: 0 auto;
          border-radius: 50%;
     }
}